qNewsFlash/Debug
qNewsFlash/Release
qNewsFlash/build
qNewsFlash/qNewsFlash.pro*
qNewsFlash/NtpTimeFetcher.cpp
qNewsFlash/NtpTimeFetcher.h
qNewsFlash/CMakeLists.txt.user
qNewsFlash/CMakeLists.txt.user*
qNewsFlash/qNewsFlash.json
NtpTimeFetcher.cpp
NtpTimeFetcher.h
Debug
Release
build
Makefile
CMakeLists.txt.user
CMakeLists.txt.user*
tags
ToDo.txt
RSS/**
.idea/**
CLion-Debug/**
CLion-Release/**
**/*.pro.user*
**/*.0
**/*.o
**/*.lo
**/*.so
**/*.out
**/*.a
